<div id="<%= dom_id name %>">
  <p>
    <strong>Agent:</strong>
    <%= name.agent %>
  </p>

  <p>
    <strong>City:</strong>
    <%= name.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= name.state %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= name.cep %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= name.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= name.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= name.price %>
  </p>

</div>
